<nav>
  <a href="#!/userdashboard">Dashboard</a> - <a href="#!/inventory">Inventory</a> - <a href="#!/orders">Orders</a> - <a href="#!/companies">Companies</a> - <a href='#!/logout'>Logout</a>
  <!-- Add your Navigation Here -->
</nav>

<span class="bold">Product #{{product._id}}</span> - <span class="bold">Name: {{product._id}}</span>
<span>Company: {{product.company.name}}</span>
<span>Quantity in stock: {{product.quantity}}</span>
<span>Buy Price: {{product.buyPrice}}</span>
<span>Sell Price: {{product.sellPrice}}</span>
